<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>GET HIRED </title>
    <style>
    .input-group-text{
      background-color:#edeff108;
      border:0;
    }
    </style>
  </head>
  <body>
{% if not  user.is_authenticated %}
<div class=" m-5 container text-center">
 <h6 class="display-5">LOG IN</h2>
 <form id="login-form"  method='POST'>{% csrf_token %}

  <div class="form-group mb-3">
   <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</i></div>
        </div>
        <input type="text" class="form-control" id="username" placeholder="Username" required>
      </div>
  </div>
  <div class="form-group mb-3">
    <div class="input-group">
     <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-key" aria-hidden="false"></i></div>
        </div>
    <input type="password" class="form-control" id="password" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group mb-3 ">
 <small id="loginerror" class="form-text lead text-danger"></small>
 </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <div class="form-group mb-3 mt-2 ">
 <a href="/handlesignup/" class="text-primary">New User? Sign Up here </a>
 </div>
</form>

</div>
<script>
$(document).on('submit','#login-form',function(e){
e.preventDefault();
var username=$('#username').val();
var password=$('#password').val();
$.ajax({
  type:'POST',
  url:'/handlelogin/',
  data:{
      'username':username,
      'password':password,
      'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken').val()
  },
  dataType:'json',
  success:function(data){
    if(data.is_ok==1){
      window.location.href="/"
    }
    else{
        document.getElementById('loginerror').innerHTML="Incorrect Username or Password";
    }
  }

})
});
</script>



{% else %}
<script>
 window.location.href = "/BASE/handleuser/";
</script>
{% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


  </body>
</html>