<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css/' %}">
    <title>{% block title %}
    {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/logo1.png/' %}" type="image/x-icon">
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <img src="{% static 'images/logo1.png/' %}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% block homeactive %}
          {% endblock homeactive %}"  href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block jobsactive %}
          {% endblock jobsactive %}" href="/EMPLOYER/my-jobs/"><i class="fa fa-suitcase" aria-hidden="true"></i> My Jobs</a>
        </li>
            <li class="nav-item">
          <a class="nav-link {% block msgactive %}
          {% endblock  %}" href="/EMPLOYER/applied-candidate/"><i class="fa fa-check-square-o" aria-hidden="true"></i> Candidates Applied</a>
        </li>
           <li class="nav-item">
          <a class="nav-link {% block empactive %}
          {% endblock  %}" href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i> Shortlisted Candidate</a>
        </li>
         
   </ul>
    
    <ul class="navbar-nav ml-2 mb-2 mb-lg-0">
                 <li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> u/{{request.user}}
          </a>
          <ul class="dropdown-menu bg-dark edit-prof" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-light" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Manage Profile</a></li>
          
           
            <li><a class="dropdown-item text-light" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
          </ul>
        </li>
      
      </ul>
      </ul>
    </div>
  </div>
</nav>
   {% block content %}
   {% endblock content %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
   {% block javascript %}
   {% endblock javascript %}
 
  </body>
</html>