*{
   
    font-family: sans-serif;
    
   
}

body{
    background-color: #081b31!important;
    
}
.bg-dark {
    background-color: #081b31!important;
}
.navbar{
    padding-right:61px;
}
.navbar-brand{
    background-color: aliceblue;
}
.navbar-brand img{
    height: 30px;
}
.d-flex{
    margin-right:20px;
}
.edit-prof a:hover{
    color:rgb(236, 233, 233);
    background-color:#858c94 ;
}

.user_img img{
    width:60px;
}
.row{
    margin-left:0;
}
.article_content{
 
    /* border:1px solid black;
    border-radius: 10px; */
    /* background-color: #2223279e; */
/* background-color: #010105fa; */
}
.media_content{
      background-color: #081b31!important;

}
.profile_img{
   
    border:1px solid #00A699;
    width:30px;
    height: 30px;
  
}
.content-img img{
    text-align:center;
    width:100%;
   
    border: 1px solid #becad8;
    border-radius: 5px;
    height: inherit;
}
.content-tag{
    color:#FF9900;
}
.content-title{
    color:#36C5F0;
    font-weight: bolder;
}

.content-author{
    color:#00A699;
    font-size: larger;
    font-weight: bolder;
}
.emp-follower{
    color:#00A699;
    font-size: 0.91rem;
}
.aside-content{
    
    border:1px solid black;

    /* background-color: #3439489e; */
      background-color: #081b31!important;
}
.employer-name{
   font-weight: bolder;
}
.container-employer{
    background-color: rgb(207, 216, 226);
    border:black;
    border-radius:5px;
    border-left:2px solid black;
    border-right:2px solid  black;
}
.line-away{
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid rgb(252, 252, 252); 
    line-height: 0.1em;
    margin-top:26px;
    margin-bottom: 26px;
}
.line-away span{
    background:#fff; 
    padding:0 10px; 
    border-radius: 12px;
}
.delete-post a:hover{
    background-color: red;
    color:white;
}
.user-img{
    border:1px solid white;
    height: 191px;
    width: 191px;
    border-radius: 6px;
    margin-top: 6px;
}
.comment-pane{
    background: none;
}
.comment-pane button{
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    color:white;
}
.comment-pane img{
    width:16px;
    height:16px;
    background:#081b31!important; 
}
.comment-anchor:hover{
    color:green;
}
.comment-content{
    background-color:rgb(254,249,249);
    color: black;
    border-radius: 40px;
}
.comment-content .media-body{
    position: relative;
    margin-left:36px;
    padding:0;
}

@media screen and (max-width: 600px) {
 .aside-content{
     display: none;
 }
  }