{% extends 'basej.html' %}
{% block title %}
Follow Employees
{% endblock title %}
{% block empactive %}   
active
{% endblock empactive %}    
{% block content %}

 {% for emp in employees%}
<div class="container border my-2 text-white">
  <h2>
  {% if emp.0.profile_pic %}
  <img src="/media/{{emp.0.profile_pic}}" alt="img" class="mr-3 profile_img rounded-circle">
     {% else %}
     {% load static %}
<img src="{% static 'images/emp_default.png/' %}"  class="mr-3 profile_img rounded-circle">
 {% endif %}
  {{emp.0.name|title}}
  <span class="emp-follower "><i class="fa fa-user" aria-hidden="true"></i> {{emp.1}}</span>
  </h2>
  <hr class="my-2">

  <p>About</p>
  <hr class="my-2">
  <div class="text-center">
  <button class="btn btn-success  my-1">Follow</button>
  </div>
</div>
 {% endfor %}



{% endblock content %}
