{% extends 'basej.html' %}
{% block title %}
Follow Employees
{% endblock title %}
{% block empactive %}   
active
{% endblock empactive %}    
{% block content %}

 {% for emp in employees%}
<div class="container border my-2 text-white" id="emp-block-{{emp.0.user.username}}">
  <h2  style="color: #cad6ec;
    font-family: -webkit-pictograph;">
  {% if emp.0.profile_pic %}
  <img src="/media/{{emp.0.profile_pic}}" alt="img" class="mr-3 profile_img rounded-circle">
     {% else %}
     {% load static %}
<img src="{% static 'images/emp_default.png/' %}"  class="mr-3 profile_img rounded-circle">
 {% endif %}
  {{emp.0.name|title}}
  <span class="emp-follower "><i class="fa fa-user" aria-hidden="true"></i> {{emp.1}}</span>
  </h2>
  <hr class="my-2">

  <p>About</p>
  <hr class="my-2">
  <div class="text-center">
  <button class="btn btn-success  my-1" id="emp-{{emp.0.user.username}}" value="{{emp.0.user.username}}">Follow</button>
  </div>
</div>
<script>
$("#emp-{{emp.0.user.username}}").click(function(){
let employer=$(this).val();
$.ajax({
   url:'/follow-employee/',
   data:{
     'employer':employer
   },
   dataType:'Json',
   success:function(data){
       document.getElementById("emp-block-{{emp.0.user.username}}").style.display="none";
  
   }

});
});
</script>
 {% endfor %}



{% endblock content %}
