{% extends 'basej.html' %}

{% block title %}Home
{% endblock title %}
{% block homeactive %}active
{% endblock homeactive %}active
{% if notlen %}
{% block notbadge %}
<span class="badge badge-danger bg-danger">{{notlen}}</span>
{% endblock notbadge %}

{% endif %}
{% block content %}
<div class="row mt-2 text-light">
{% if recent_post_cnt %}
<div class="col-md-8 ml-1   article_content">
<!-- one article post starts here-->
{% for posts in recent_posts %}
 <div class="media  p-3 mb-2 border  media_content">
   <strong class="d-inline-block mb-2 content-tag">{{posts.0.tag}}</strong>
  <p>
     {% if posts.0.employer_name.profile_pic %}
     <img src="/media/{{posts.0.employer_name.profile_pic}}" alt="img" class="mr-3 profile_img rounded-circle">
     {% else %}
     {% load static %}
        <img src="{% static 'images/emp_default.png/' %}"  class="mr-3 profile_img rounded-circle">
        {% endif %}
     <span class="content-author">
     {{posts.0.employer_name.name}} </span><small><i>Posted on {{posts.0.time_stamp}}</i></small></p>
        <div class="media-body">
        <p class="content-title">{{posts.0.article_title}}</p>
        <hr clas="my-2">
      <p class="content-desc">{{posts.0.article_desc|linebreaks}}</p>    
      {% if posts.0.article_media %}
      <div class="content-img mt-2 p-2">
      
       <img src="/media/{{posts.0.article_media}}" ></img>
      </div>  
      {% endif %}
    </div>
    <hr class="my-1">
    <div class="comment-pane">

    {% if posts.4 %}
      <button class="mx-2">  <img src="{% static 'images/liked.png/' %}"  class="comment-pane-img" disabled > {{posts.1}} Upvotes</button> 
    {% else %}
     <button id="like_btn_{{posts.0.article_id}}" class="mx-2">  <img id="article-by-{{posts.0.article_id}}"src="{% static 'images/like.png/' %}"  class=" comment-pane-img"><span id="like-count{{posts.0.article_id}}"> {{posts.1}} </span> Upvotes</button> 
    {% endif %}  
   
     <button class="mx-2" data-toggle="collapse" data-target="#comment-{{posts.0.article_id}}" aria-expanded="false" aria-controls="comment-{{posts.0.article_id}}"> <i class="fa fa-comment text-light" aria-hidden="true"></i> {{posts.2}} Comments </button>
    </div>  <hr class="my-1">
    <div class="collapse" id="comment-{{posts.0.article_id}}" >
      
      
      
      <form id="comment-{{posts.0.article_id}}" class="my-2" method="POST">{% csrf_token %}
      <div class="input-group">
         <input type="text" class="form-control mr-sm-2" name="comment" id="comment-on-{{posts.0.article_id}}" placeholder="Enter your Comment" required>
           <span class="input-group-btn"> 
        <button type="submit" class="btn btn-success" value="submit"><i class="fa fa-chevron-circle-right"></i></button>
       </div>
       </span> </form>

      <!-- comment posted here-->
       <div class="media  p-2 my-2 comment-content" id="show-comment-{{posts.0.article_id}}"  style="display:none;">
 
  <p>
    
     {% load static %}
        <img src="{% static 'images/emp_default.png/' %}"  class="mr-3 profile_img rounded-circle">
       
     <span class="content-author">
     {{jbasic.first_name|title}} {{jbasic.last_name|title}}</span><small><i> Posted just now</i></small></p>
           <hr clas="my-1">
        <div class="media-body">
       
     
      <p id="comment-by-{{posts.0.article_id}}"></p>    
       </div>  
        </div>

       <!-- handle comment here-->
     <script>
        $(document).on('submit','#comment-{{posts.0.article_id}}',function(e){
       e.preventDefault();
          let message=$("#comment-on-{{posts.0.article_id}}").val();
          let article_id={{posts.0.article_id}};

          $.ajax({
             type:'POST',
              async: false,
              url:'/JOBSEEKER/handle_comment/',
               data:{
                    'message':message,
                    'article_id':article_id,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken').val()
               },
          dataType:'json',
          success:function(data){
            if(data.is_ok){
              document.getElementById("comment-by-{{posts.0.article_id}}").innerHTML=message;
              document.getElementById("show-comment-{{posts.0.article_id}}").style.display="block";
              $("#comment-on-{{posts.0.article_id}}").reset();
            }

          }
        
          });
           e.stopImmediatePropagation();
           return false;
        });
     </script>

      <a data-toggle="collapse" href="#reply-{{posts.0.article_id}}" role="button" aria-expanded="false" aria-controls="reply-{{posts.0.article_id}}" class="text-light comment-anchor"><i>load recent comments({{posts.2}})</i></a>

      <div class="collapse" id="reply-{{posts.0.article_id}}">
    {% for comment in posts.3 %}

    <div class="media  p-2 my-2 comment-content">
 
  <p>
    
     {% load static %}
        <img src="{% static 'images/emp_default.png/' %}"  class="mr-3 profile_img rounded-circle">
       
     <span class="content-author">
     {{comment.jobseeker.first_name|title}} {{comment.jobseeker.last_name|title}}</span><small><i> Posted on {{comment.timestamp}}</i></small></p>
           <hr clas="my-1">
        <div class="media-body">
       
     
      <p>{{comment.commenttext|linebreaks}}</p>    
       </div>  
        </div>
   {% endfor %}
  
 </div>

</div>



    <script>  
      $("#article-by-{{posts.0.article_id}}").on({
        'click':function()
        {
          
          let article_id={{posts.0.article_id}};
          let lcount={{posts.1}};
          lcount=lcount+1;
          let newlike=lcount.toString();
       $.ajax({
         url:'/JOBSEEKER/handlelove/',
         data:{
           'article_id':article_id,
         },
         dataType:'json',
         success:function(data){
              $("#article-by-{{posts.0.article_id}}").attr('src',"{% static 'images/liked.png/' %}");
             $("#like-count{{posts.0.article_id}}").text(newlike);
             $("#like_btn_{{posts.0.article_id}}").prop('disabled',true);
            

          
         }

       })
         
        
        }
      });
    </script>
   
  </div>
  {% endfor %}
  {% else %}
<div class="col-md-8 ml-1 border">
 <script>
 window.location.href='/JOBSEEKER/follow-employee/';
 </script>
</div>
  {% endif %}
  <!-- Article post ends here -->
</div>
<div class="col-md-4 p-2 aside-content">
<div class="text-center">
<h2 style="font-family: system-ui;color: #e8c2c2;">Follow Employers</h2>
</div>
{% for emp in emp_i_should_follow %}
<div class="row">
<div class="col employer-name">
{{emp.name|title}}
</div>
<div class="col employer-follow">
<button type="button" role="submit" id="emp-{{emp.user.username}}" value="{{emp.user.username}}" class="btn btn-success">Follow</button>
</div>

</div>
<script>
$("#emp-{{emp.user.username}}").click(function(){
let employer=$(this).val();
$.ajax({
   url:'/follow-employee/',
   data:{
     'employer':employer
   },
   dataType:'Json',
   success:function(data){
       document.getElementById("emp-{{emp.user.username}}").style.display="none";
  
   }

});
});


</script>
  <hr class="my-4">
{% endfor %}

</div>
</div>
{% endblock content %}